# Секреты и хэши паролей
/secrets/
*.hash
*.key

# Результаты сборок Nix
/result
/result-*

# Временные файлы редакторов
*~
*.swp
*.tmp
*.bak

# Папка корзины (если пользуетесь GUI)
.Trash-*
**/.Trash-*

# Логи
*.log

# Большие папки Steam (не должны быть в Git)
/dotfiles/config/Steam/userdata/

# Игнорировать все файлы в dotfiles, кроме wallpapers
/dotfiles/*
!/dotfiles/wallpapers/
!/dotfiles/wallpapers/**/*
!/dotfiles/config/KDE/

